NODE_ENV=development
PORT=4000
HOST=0.0.0.0
DATABASE_URL=postgresql://vanom-api-user:Rameshaa16@localhost:5432/vanom-dev-database
JWT_SECRET=enterprise-super-secret-jwt-key-2026
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_DAYS=7
CORS_ORIGIN=*
STORAGE_DRIVER=local
LOCAL_STORAGE_PATH=./uploads
AWS_REGION=us-east-1
AWS_S3_BUCKET=my-ecommerce-bucket
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
# AWS_S3_ENDPOINT=http://localhost:4566 # Optional for LocalStack / MinIO / Cloudflare R2
# AWS_S3_FORCE_PATH_STYLE=false
DEFAULT_COUNTRY=US
DEFAULT_CURRENCY=USD
